.smart-pager * {
    box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.smart-pager
{
    min-width: 850px;
    height: 25px;
    padding: 0;
    margin: 0;
}
.smart-pager div.short
{
    float: right;
    margin: 0;
    padding: 0;
    width: 110px;
}
.smart-pager div.short input[type="text"]
{
    width: 33px;
    height: 23px;
    line-height: 23px;
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
    margin: 0 5px;
    float: left;
    text-align: center;
}
.smart-pager div.short input[type="button"] {
    width: 50px;
    height: 23px;
    border: none;
    border-radius: 3px;
}
.smart-pager ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    margin: 0 5px;
}
.smart-pager ul li
{
    display: inline-block;
}
.smart-pager ul li.click-ban {
    pointer-events: none;
}
.smart-pager ul li a
{
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    display: inline-block;
    width: 30px;
    margin: 0 5px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    color: #000;
    text-align: center;
}

.smart-pager ul li a:not(.active):hover {
    background-color: #eee;
}

.smart-pager .records-info-container {
    display:inline-block;
    height:25px;
    margin-left:10px
}
.smart-pager .records-info-container span {
    display: block;
    height: 25px;
    line-height: 25px;
}

.smart-pager .pager-btn
{
    display: block;
    width: 75px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    margin:0 5px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.smart-pager .pager-btn:not(.disabled):hover {
    background-color: #ddd;
}
.smart-pager .disabled
{
    color: #a0a0a0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.theme.active
{
    background-color: #ddd;
    color: #000;
    height: 23px;
    line-height: 23px;
    border: solid 1px #ddd;
}
.smart-pager.theme .pager-btn
{
    background-color: #fff;
    color: #000;
    border: solid 1px #ddd;
}