@charset 'utf-8';
/* 通用样式 */
/*
 * 0-通用全局样式（body等标签）
 * 1-通用字体相关（粗体、斜体等）
 * 2-通用页面相关（hidden、page等class）
 * 3-通用bootstrap相关（修改默认）
 */

/* 0-通用全局样式 */
body {
    font-family: "微软雅黑";
}
a, a:hover, a:focus, a:active {
    cursor: pointer;
}

/* 1-通用字体相关 */
.page .text-bold {
    font-weight: bold;
}
.page .text-italic {
    font-style: italic;
}
.page .text-green {
    color: #2E8B57;
}
.page .text-red {
    color: #f55;
}
.page .text-yellow {
    color: #EEAD0E;
}
.page .text-grey {
    color: #aaa;
}
.page .text-darkgrey {
    color: #464646;
}
.page .fz-20 {
    
}

/* 2-通用页面相关 */
.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.page .click-ban.btn {
    pointer-events: none;
    background-color: #aaa;
    border-color: #aaa;
}
.page .divide-space {
    display: block;
    height: 10px;
}
/* 列表样式 */
.page .ibox {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dee5e7;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.page .ibox-title {
    height: 41px;
    border-color: #edf1f2;
    background-color: #f6f8f8;
    color: #333;
    font-weight: 700;
    border-radius: 2px 2px 0 0;
    padding: 15px 15px 3px 15px;
    border-bottom: 1px solid transparent;
    display: block;
    clear: both;
}
.page .ibox-title h5 {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    font-weight: 600;
}
.page .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
/* 表格通用样式 */
.page .table {
    font-family: '微软雅黑';
    font-size: 14px;
}
.page .table > thead > tr > th {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}
.page .table tbody td {
    text-align: center;
    vertical-align: middle;
}
/* 分页页码 */
.page .pager-container {
    margin: 20px 10px;
}
/* 筛选container */
.page .filter-container {
    position: relative;
    min-height: 50px;
}
.page .filter-container .toggle-btn {
    /* computed-height:26px */
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 26px; /* 20 + ? */
}
.page .filter-box {
    padding: 10px 25px;
    margin: 10px 20px;
}
.page .filter-box hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.page .filter-item {
    height: 30px;
}
.page .filter-item .filter-label {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.page .filter-item .filter-options {
    display: inline-block;
    height: 30px;
    padding: 0 15px;
}
.page .filter-item .btn {
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
    margin: 0 15px;
}
.page .filter-item .btn.active {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.page .search-container {
    height: 34px;
    padding-top: 10px;
}
.page .search-container .input-container {
    padding-left: 0;
}
.page .search-container .btn {
    padding: 6px 20px;
}
/* 金额数值前面加符号 */
.amount-val:before {
    content: "¥";
}

/* 3-通用bootstrap相关（修改默认） */
.form-group {
    margin-top: 15px;
    margin-bottom: 15px
}
.btn.btn-info:hover {
    color: #fff;
    background-color: #19a9d5;
    border-color: #189ec8;
}
.alert {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 99999;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* 筛选条件默认都隐藏 */
/*.page .filter-box {
    display: none;
}*/
